.header {
  width: 100%;
  box-shadow: var(--shadow-light);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--bg-component);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.topBar {
  background-color: var(--primary-light);
  padding: 8px 0;
  font-size: 0.9rem;
  color: var(--text-dark);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.contactInfo {
  display: flex;
  gap: 20px;
}

.authLink {
  border-radius: 4px;
  padding: 0.5rem 1rem;
  border-right: 0;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-left: 1rem;
  background-color: rgb(229, 229, 229);
  color: #0070f3;
  transition: all 0.2s ease;
}

.authLink:hover { 
  background-color: #d9d9d9;
}

.loginLink {
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
  background-color: #0070f3;
  color: white;
  transition: all 0.2s ease;
}

.loginLink:hover {
  background-color: #005fc3;
}

.themeToggleContainer {
  display: flex;
  align-items: center;
  margin-right: var(--spacing-md);
  z-index: 10;
  position: relative;
}

.logoutButton {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  color: #d32f2f;
  margin-left: -1.5rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: rgba(211, 47, 47, 0.1);
  color: #d32f2f;
}

.logoutButton:hover {
  background-color: rgba(211, 47, 47, 0.25);
  color: #d32f2f;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 6px;
}

.icon {
  font-size: 0.9rem;
  color: #4dabf7;
}

.container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.vrBadge {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: rgba(77, 171, 247, 0.1);
  padding: 5px 10px;
  border-radius: 20px;
  color: #4dabf7;
  font-weight: 500;
  font-size: 0.85rem;
}

.vrIcon {
  color: #4dabf7;
}

.mainHeader {
  padding: 10px 0;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    padding: 0 0.5rem;
  }
  
  .logo {
    width: 120px;
    height: auto;
  }
  
  .contactInfo {
    display: none;
  }
  
  .topBar {
    justify-content: center;
  }
  
  .vrBadge {
    margin: 0 auto;
  }
}
